<header class="header">
    <div class="wrapper">
        <div class="header__inner">
            <a class="header__logo" href="index.html">NFTs Art</a>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="collections.html">
                            Collection
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="road-map.html">
                            Road Map
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="our-clans.html">
                            Our Clans
                        </a>
                    </li>
                    <li class="header__nav-item">
                        <a class="header__nav-link" href="faq.html">
                            FAQ
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__buttons">
                <button class="header__button-create">
                    Create
                </button>
                <button class="header__button-user">
<!--                    <img src="./img/icons/icon-1.svg" alt="">-->
                </button>
            </div>
        </div>
    </div>
</header>
