<div class="accordion">
    <h2 class="accordion__heading">
        Maybe your question is have been answered, check this out!
    </h2>
    <ul class="accordion__list">
        <li class="accordion__item">
            <p class="accordion__question">
                When does minting begin?
            </p>
            <p class="accordion__answer">
                Initial distribution will begin on February 1st 2022 at 3:00 PM UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the reveal will happen by this point in time. The initial distribution will be tiered to the benefit of those who have traded or voted on dYdX.
            </p>
        </li>
        <li class="accordion__item">
            <p class="accordion__question">
                When does minting begin?
            </p>
            <p class="accordion__answer">
                Initial distribution will begin on February 1st 2022 at 3:00 PM UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the reveal will happen by this point in time. The initial distribution will be tiered to the benefit of those who have traded or voted on dYdX.
            </p>
        </li>
        <li class="accordion__item">
            <p class="accordion__question">
                When does minting begin?
            </p>
            <p class="accordion__answer">
                Initial distribution will begin on February 1st 2022 at 3:00 PM UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the reveal will happen by this point in time. The initial distribution will be tiered to the benefit of those who have traded or voted on dYdX.
            </p>
        </li>
        <li class="accordion__item">
            <p class="accordion__question">
                When does minting begin?
            </p>
            <p class="accordion__answer">
                Initial distribution will begin on February 1st 2022 at 3:00 PM UTC. The ongoing distribution will begin on February 8, 2022 at 3:00 PM UTC, and the reveal will happen by this point in time. The initial distribution will be tiered to the benefit of those who have traded or voted on dYdX.
            </p>
        </li>
    </ul>
</div>