<section class="popular-collection">
  <div class="wrapper">
    <div class="popular-collection__top">
      <h2 class="popular-collection__heading">
        Get Popular Collection
      </h2>
      <button class="popular-collection__top-button">
        See all
      </button>
    </div>
    <ul class="popular-collection__cards">
      <li class="popular-collection__card open">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0121
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/1.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card open">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0122
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/2.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card open">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0123
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/3.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card open">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0124
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/4.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0121
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/1.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0122
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/2.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0123
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/3.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0124
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/4.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0121
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/1.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0122
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/2.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0123
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/3.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
      <li class="popular-collection__card">
        <a class="popular-collection__card-link" href="#">
          <h3 class="popular-collection__card-title">
            Human Leaf #0124
          </h3>
          <img class="popular-collection__card-img" src="./img/main-card/4.svg" alt="">
          <div class="popular-collection__card-bottom">
            <div class="popular-collection__card-left">
              <p class="popular-collection__card-text">
                Highest bid
              </p>
              <h3 class="popular-collection__card-price">
                0.56 ETH
              </h3>
            </div>
            <p class="popular-collection__card-timer">
              04:45:32
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>