<section class="road-map">
  <div class="road-map__inner">
    <h2 class="road-map__heading">
      Road-Map
    </h2>
    <p class="road-map__text">
      This is our roadmap so far, but this is only the begining, we want to build our project around our community, so if you have more ideas we are all ears.
    </p>
    <ul class="road-map__list">
      <li class="road-map__item">
        <h3 class="road-map__item-heading">
          Phase 1
        </h3>
        <p class="road-map__item-text">
          It is a long estabilished fact that a reader will be
        </p>
      </li>
      <li class="road-map__item">
        <h3 class="road-map__item-heading">
          Phase 2
        </h3>
        <p class="road-map__item-text">
          It is a long estabilished fact that a reader will be
        </p>
      </li>
      <li class="road-map__item">
        <h3 class="road-map__item-heading">
          Phase 3
        </h3>
        <p class="road-map__item-text">
          It is a long estabilished fact that a reader will be
        </p>
      </li>
      <li class="road-map__item">
        <h3 class="road-map__item-heading">
          Phase 4
        </h3>
        <p class="road-map__item-text">
          It is a long estabilished fact that a reader will be
        </p>
      </li>
    </ul>
  </div>
</section>