<section class="hero">
  <h1 class="hero__heading">
    Collect Super Rare <span class="hero__heading--accent">NFTs </span>Art
  </h1>
  <p class="hero__text">
    Design, create, store and trade unique NFTs  easily
    with zero fees!
  </p>
  <ul class="hero__cards">
    <li class="hero__card hero__card--first">
      <a class="hero__card-link" href="#">
        <h3 class="hero__card-title">
          Randy George
        </h3>
        <p class="hero__card-text">
          Art Director
        </p>
        <img class="hero__card-img hero__card-img--first" src="./../img/hero/1.png" alt="">
      </a>
    </li>
    <li class="hero__card hero__card--second">
      <a class="hero__card-link" href="#">
        <h3 class="hero__card-title">
          Zain Lubin
        </h3>
        <p class="hero__card-text">
          Art Director
        </p>
        <img class="hero__card-img hero__card-img--second" src="./../img/hero/2.png" alt="">
      </a>
    </li>
    <li class="hero__card hero__card--third">
      <a class="hero__card-link" href="#">
        <h3 class="hero__card-title">
          Zain Lubin
        </h3>
        <p class="hero__card-text">
          Art Director
        </p>
        <img class="hero__card-img hero__card-img--third" src="./../img/hero/3.png" alt="" >
      </a>
    </li>
  </ul>
</section>
