// Main Colors

$color-primary: #52B4C1;
$color-secondary: #DCF06B;

// Additional Colors

$color-white: #FFFFFF;
$color-background: #FEFEFE;
$color-line: #E9EBED;
$color-line-dark: #4A4A65;

// Grayscale

$color-grayscale-100: #171725;
$color-grayscale-90: #434E58;
$color-grayscale-80: #66707A;
$color-grayscale-70: #78828A;
$color-grayscale-60: #9CA4AB;
$color-grayscale-50: #BFC6CC;
$color-grayscale-40: #D1D8DD;
$color-grayscale-30: #E3E9ED;
$color-grayscale-20: #ECF1F6;
$color-grayscale-10: #F9F9F9;

// Alerts

$color-success: #25DC37;
$color-error: #EB3F5E;
$color-warning: #FFCD1A;




$transition-speed: 0.2s;