<section class="show-card">
  <div class="wrapper">
    <div class="show-card__inner">
      <img class="show-card__img" src="img/show-card-img.png" alt="">
      <div class="show-card__info">
        <h4 class="show-card__status">
          Live Now
        </h4>
        <p class="show-card__collection">
          Human Life
        </p>
        <h2 class="show-card__heading">
          Human Leaf Cowboy #0123
        </h2>
        <div class="show-card__bid bid">
          <div class="bid__left">
            <p class="bid__text">
              Current bid
            </p>
            <p class="bid__price">
              300 ETH
            </p>
            <p class="bid__text bid__price-usd">
              $130,729.12
            </p>
          </div>
          <div class="bid__right">
            <p class="bid__text">
              Auction ending in
            </p>
            <p class="bid__timer">
              03d : 25h : 05m
            </p>
            <p class="bid__text bid__bids-num">
              Bids: 25
            </p>
          </div>
        </div>
        <div class="show-card__about-card">
          <div class="show-card__about-creator">
            <p class="show-card__about-heading">
              Creator
            </p>
            <button class="show-card__about-button">
              Brandon Ekstrom
            </button>
          </div>
          <div class="show-card__about-collection">
            <p class="show-card__about-heading">
              Collection
            </p>
            <button class="show-card__about-button">
              Cooper Bator
            </button>
          </div>
        </div>
        <div class="show-card__agreement">
          <label class="show-card__agreement-label">
            <input class="show-card__agreement-input" type="checkbox" name="agreement" value="no">f
          </label>
        </div>
      </div>
    </div>
  </div>
</section>