<div class="sites">
    <div class="sites__anim-list--right">
        <ul class="sites__list sites__list--right">
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/binance.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/coinbase.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/exodus.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/metamask.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/opensea.svg" alt="">
            </li>
        </ul>
        <ul class="sites__list sites__list--right">
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/binance.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/coinbase.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/exodus.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/metamask.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/opensea.svg" alt="">
            </li>
        </ul>
    </div>
    <div class="sites__anim-list--left">
        <ul class="sites__list sites__list--left">
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/binance.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/coinbase.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/exodus.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/metamask.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/opensea.svg" alt="">
            </li>
        </ul>
        <ul class="sites__list sites__list--left">
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/binance.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/coinbase.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/exodus.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/metamask.svg" alt="">
            </li>
            <li class="sites__item">
                <img class="sites__img" src="./img/sites/opensea.svg" alt="">
            </li>
        </ul>
    </div>
</div>